# Associate @mi-aleks scope with the GitHub Package Registry
@mi-aleks:registry=https://npm.pkg.github.com/

# Authenticate requests to the GitHub Package Registry using the token
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
